<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>cn</string>
			<key>Key</key>
			<string>language</string>
			<key>Title</key>
			<string>Language</string>
			<key>Titles</key>
			<array>
				<string>English</string>
				<string>简体中文</string>
				<string>繁體中文</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>en</string>
				<string>cn</string>
				<string>tw</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>模式</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>中餐快餐</string>
			<key>Key</key>
			<string>switch</string>
			<key>DefaultValue</key>
			<string>kc</string>
			<key>Titles</key>
			<array>
				<string>中餐</string>
				<string>快餐</string>
			</array>
			<key>Values</key>
			<array>
				<string>zc</string>
				<string>kc</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copyright © 2011 Choisoft Ltd.All Rights Reserved</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
