<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Horizontal</key>
	<dict>
		<key>TableViewCell</key>
		<dict>
			<key>NameFrame</key>
			<string>{{10,0},{240,50}}</string>
			<key>NumberFrame</key>
			<string>{{0,0},{10,42}}</string>
			<key>OrderSize</key>
			<string>{250,100}</string>
			<key>PriceFrame</key>
			<string>{{520,670},{97,42}}</string>
			<key>CountFrame</key>
			<string>{{172,50},{33,42}}</string>
			<key>AddFrame</key>
			<string>{{130,50},{42,42}}</string>
			<key>SubtractFrame</key>
			<string>{{205,50},{42,42}}</string>
		</dict>
		<key>ClassView</key>
		<dict>
			<key>BackgroundImage</key>
			<string>flbg.png</string>
			<key>ViewFrame</key>
			<string>{{280,0},{750,65}}</string>
			<key>ScrollViewFrame</key>
			<string>{{0,0},{770,65}}</string>
			<key>Anyway</key>
			<string>a</string>
			<key>Class</key>
			<dict>
				<key>ClassImageFrame</key>
				<string>{{10,10},{45,45}}</string>
				<key>Size</key>
				<string>{250,65}</string>
				<key>ClassNameFrame</key>
				<string>{{80,0},{170,65}}</string>
				<key>ClassCountFrame</key>
				<string>{{50,6},{25,25}}</string>
			</dict>
		</dict>
		<key>FoodDetail</key>
		<dict>
			<key>FoodDetailSize</key>
			<string>{768,768}</string>
			<key>CollectionViewFrame</key>
			<string>{{0,0},{768,768}}</string>
			<key>FoodDetailFrame</key>
			<string>{{0,0},{768,768}}</string>
			<key>UnitFrame</key>
			<string>{{540,600},{185,55}}</string>
			<key>NameFrame</key>
			<string>{{20,440},{300,30}}</string>
			<key>CountFrame</key>
			<string>{{110,550},{100,28}}</string>
			<key>CountTitleFrame</key>
			<string>{{20,550},{86,28}}</string>
			<key>SelectTagFrame</key>
			<string>{{90,100},{60,30}}</string>
			<key>OKFrame</key>
			<string>{{500,10},{100,40}}</string>
			<key>BackFrame</key>
			<string>{{610,10},{100,40}}</string>
			<key>AddFrame</key>
			<string>{{520,670},{97,42}}</string>
			<key>AddImage</key>
			<string></string>
			<key>SubtractFrame</key>
			<string>{{520,670},{97,42}}</string>
			<key>SubtractImage</key>
			<string></string>
			<key>PhotoFrame</key>
			<string>{{90,90},{520,420}}</string>
			<key>PriceFrame</key>
			<string>{{500,440},{84,45}}</string>
		</dict>
		<key>OrderView</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{285,70},{720,690}}</string>
			<key>ItemSize</key>
			<string>{720,690}</string>
			<key>CollectionViewFrame</key>
			<string>{{0,0},{720,690}}</string>
			<key>Order</key>
			<dict>
				<key>OrderFrame</key>
				<string>{{0,0},{232,220}}</string>
				<key>OrderSize</key>
				<string>{232,220}</string>
				<key>Frame</key>
				<dict>
					<key>NameFrame</key>
					<string>{{0,170},{170,35}}</string>
					<key>PhotoFrame</key>
					<string>{{0,0},{232,165}}</string>
					<key>CountFrame</key>
					<string>{{180,5},{40,40}}</string>
					<key>AddFrame</key>
					<string>{{100,200},{50,42}}</string>
					<key>AddImage</key>
					<string></string>
					<key>SubtractFrame</key>
					<string>{{0,200},{50,42}}</string>
					<key>SubtractImage</key>
					<string></string>
					<key>PriceFrame</key>
					<string>{{160,170},{70,35}}</string>
				</dict>
			</dict>
		</dict>
		<key>OrderView-2</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{280,70},{720,690}}</string>
			<key>ItemSize</key>
			<string>{720,690}</string>
			<key>CollectionViewFrame</key>
			<string>{{0,0},{720,690}}</string>
			<key>Order</key>
			<dict>
				<key>OrderFrame</key>
				<string>{{0,0},{220,215}}</string>
				<key>OrderSize</key>
				<string>{220,215}</string>
				<key>Frame</key>
				<dict>
					<key>NameFrame</key>
					<string>{{0,180},{140,35}}</string>
					<key>PhotoFrame</key>
					<string>{{0,0},{220,215}}</string>
					<key>CountFrame</key>
					<string>{{180,5},{40,40}}</string>
					<key>AddFrame</key>
					<string>{{100,200},{50,42}}</string>
					<key>AddImage</key>
					<string></string>
					<key>SubtractFrame</key>
					<string>{{0,200},{50,42}}</string>
					<key>SubtractImage</key>
					<string></string>
					<key>PriceFrame</key>
					<string>{{140,120},{60,35}}</string>
				</dict>
			</dict>
		</dict>
		<key>CheckOrdersView</key>
		<dict>
			<key>BackgroundImage</key>
			<string></string>
			<key>TableViewFrame</key>
			<string>{{0,100},{260,590}}</string>
			<key>ViewFrame</key>
			<string>{{0,0},{260,768}}</string>
			<key>OrderSize</key>
			<string>{260,100}</string>
			<key>OrdersPriceFrame</key>
			<string>{{0,725},{173,35}}</string>
		</dict>
		<key>PackageView</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{256,0},{768,768}}</string>
			<key>CollectionViewFrame</key>
			<string>{{0,0},{768,708}}</string>
			<key>TitleFrame</key>
			<string>{{10,0},{100,40}}</string>
			<key>CollectionVFrame</key>
			<string>{{0,50},{768,768}}</string>
			<key>CollectionDFrame</key>
			<string>{{0,0},{768,768}}</string>
			<key>OKFrame</key>
			<string>{{500,10},{100,40}}</string>
			<key>CancelFrame</key>
			<string>{{610,10},{100,40}}</string>
			<key>Order</key>
			<dict>
				<key>OrderFrame</key>
				<string>{{10,0},{220,215}}</string>
				<key>OrderSize</key>
				<string>{220,215}</string>
				<key>Frame</key>
				<dict>
					<key>NameFrame</key>
					<string>{{0,180},{140,35}}</string>
					<key>PhotoFrame</key>
					<string>{{0,0},{220,215}}</string>
					<key>CountFrame</key>
					<string>{{180,5},{40,40}}</string>
					<key>AddFrame</key>
					<string>{{100,200},{50,42}}</string>
					<key>AddImage</key>
					<string></string>
					<key>SubtractFrame</key>
					<string>{{0,200},{50,42}}</string>
					<key>SubtractImage</key>
					<string></string>
					<key>PriceFrame</key>
					<string>{{140,180},{60,35}}</string>
				</dict>
			</dict>
		</dict>
		<key>PackageView2</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{0,20},{710,728}}</string>
			<key>TitleFrame</key>
			<string>{{10,0},{100,40}}</string>
			<key>CollectionVFrame</key>
			<string>{{0,50},{710,708}}</string>
			<key>CollectionDFrame</key>
			<string>{{0,0},{720,768}}</string>
			<key>OKFrame</key>
			<string>{{500,10},{100,40}}</string>
			<key>CancelFrame</key>
			<string>{{610,10},{100,40}}</string>
			<key>Order</key>
			<dict>
				<key>OrderFrame</key>
				<string>{{10,0},{220,215}}</string>
				<key>OrderSize</key>
				<string>{220,215}</string>
				<key>Frame</key>
				<dict>
					<key>NameFrame</key>
					<string>{{0,180},{140,35}}</string>
					<key>PhotoFrame</key>
					<string>{{0,0},{220,215}}</string>
					<key>CountFrame</key>
					<string>{{180,5},{40,40}}</string>
					<key>AddFrame</key>
					<string>{{100,200},{50,42}}</string>
					<key>AddImage</key>
					<string></string>
					<key>SubtractFrame</key>
					<string>{{0,200},{50,42}}</string>
					<key>SubtractImage</key>
					<string></string>
					<key>PriceFrame</key>
					<string>{{140,180},{60,35}}</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Vertical</key>
	<dict>
		<key>ClassView</key>
		<dict>
			<key>ClassImage</key>
			<string></string>
			<key>ViewFrame</key>
			<string>{{0,100},{250,924}}</string>
			<key>Anyway</key>
			<string>across</string>
			<key>Class</key>
			<dict>
				<key>Size</key>
				<string>{250,42}</string>
				<key>ClassNameFrame</key>
				<string>{{0,0},{180,42}}</string>
				<key>ClassCountFrame</key>
				<string>{{185,6},{30,30}}</string>
			</dict>
		</dict>
		<key>FoodDetail</key>
		<dict>
			<key>FoodDetailSize</key>
			<string>{520,1024}</string>
			<key>FoodDetailFrame</key>
			<string>{{0,0},{520,1024}}</string>
			<key>BackFrame</key>
			<string>{{44,187},{102,49}}</string>
			<key>UnitFrame</key>
			<string>{{540,600},{185,55}}</string>
			<key>NameFrame</key>
			<string>{{20,550},{300,30}}</string>
			<key>CountFrame</key>
			<string>{{110,550},{100,28}}</string>
			<key>CountTitleFrame</key>
			<string>{{20,550},{86,28}}</string>
			<key>AddFrame</key>
			<string>{{520,670},{97,42}}</string>
			<key>AddImage</key>
			<string></string>
			<key>SubtractFrame</key>
			<string>{{520,670},{97,42}}</string>
			<key>SubtractImage</key>
			<string></string>
			<key>PhotoFrame</key>
			<string>{{0,0},{500,1000}}</string>
			<key>PriceFrame</key>
			<string>{{545,805},{84,45}}</string>
		</dict>
		<key>OrderView</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{0,50},{470,974}}</string>
			<key>Order</key>
			<dict>
				<key>OrderFrame</key>
				<string>{{10,0},{220,250}}</string>
				<key>OrderSize</key>
				<string>{220,250}</string>
				<key>Frame</key>
				<dict>
					<key>NameFrame</key>
					<string>{{0,154},{97,30}}</string>
					<key>PhotoFrame</key>
					<string>{{5,5},{210,150}}</string>
					<key>CountFrame</key>
					<string>{{50,200},{50,42}}</string>
					<key>AddFrame</key>
					<string>{{100,200},{50,42}}</string>
					<key>AddImage</key>
					<string></string>
					<key>SubtractFrame</key>
					<string>{{0,200},{50,42}}</string>
					<key>SubtractImage</key>
					<string></string>
					<key>PriceFrame</key>
					<string>{{100,154},{50,30}}</string>
					<key>UnitFrame</key>
					<string>{{100,184},{50,30}}</string>
				</dict>
			</dict>
		</dict>
		<key>CheckOrdersView</key>
		<dict>
			<key>ViewFrame</key>
			<string>{{0,100},{240,924}}</string>
			<key>Frame</key>
			<dict>
				<key>NameFrame</key>
				<string>{{10,0},{120,42}}</string>
				<key>NumberFrame</key>
				<string>{{0,0},{10,42}}</string>
				<key>PriceFrame</key>
				<string>{{520,670},{97,42}}</string>
				<key>CountFrame</key>
				<string>{{172,0},{33,42}}</string>
				<key>AddFrame</key>
				<string>{{130,0},{42,42}}</string>
				<key>SubtractFrame</key>
				<string>{{205,0},{42,42}}</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
